<DOCTYPE html>
    <html>
<div class="container-fluid index error">
    <div class="row">

        <div class="col-md-12 content-panel articles">
        <font size="7">404</font>

        <div class="error-text">
           <font size="4"> OOPS !!! This page is not available.</font>
        </div>
            <br>

        <div class="error-text">
            <a href="{{ .Site.BaseURL }}/">Home</a> <href><href><href>
        </div>
        <div class="excerpt">
            <a href="{{ .Permalink }}">Continue Reading</a>
        
</div>
</html>
